user  nginx;
worker_processes  auto;

error_log  /var/log/nginx/error.log warn;

daemon off;

events {
    worker_connections  1024;
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;
 
    default_type application/dash+xml;

    server {
        listen      3000;
        application/dash+xml
    
        # Serve live DASH fragments
        location /dash_live {
            # defines where the DASH files will retrieved on the server filesystem
            alias /datas/tmp/dashLive;
      
            # necessary if media files contain more than one DASH fragment
            if ($request_method = 'OPTIONS') {
                add_header 'Access-Control-Allow-Credentials' 'true';
                add_header 'Access-Control-Allow-Methods' 'GET, OPTIONS';
                
                # Custom headers and headers various browsers *should* be OK with but aren't
                add_header 'Access-Control-Allow-Headers' 'DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range';
                
                # Tell client that this pre-flight info is valid for 20 days
                add_header 'Access-Control-Max-Age' 1728000;
                
                add_header 'Content-Type' 'text/plain charset=UTF-8';
                add_header 'Content-Length' 0;
                add_header 'Access-Control-Allow-Origin' '*';
            
                return 200;
            }
            
            if ($request_method = 'GET') {
                add_header 'Access-Control-Allow-Origin' '*';
                add_header 'Access-Control-Allow-Credentials' 'true';
                add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
                add_header 'Access-Control-Allow-Headers' 'DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range';
            }
        
        
            # necessary for live content (manifest must always be loaded from server, not from cache)
            add_header Cache-Control no-cache;
        }   
    }
}

rtmp_auto_push on;

rtmp {

    server {
        listen 1935;
        notify_method get;

        chunk_size 131072;
        max_message 12M;
        buflen 2s;

        application pub_dash_${PUBLISH_SECRET} {
            live on;
            dash on;
            dash_playlist_length 60s;
            dash_fragment 2s;
      
            # defines where dash files will generated on the server filesystem
            dash_path /datas/tmp/dashLive;
        }

        application pub_${PUBLISH_SECRET} {
            live on;
            drop_idle_publisher 5s;
            allow play 127.0.0.1;
            deny play all;

            exec_push /usr/local/bin/avconv -i rtmp://localhost/pub_${PUBLISH_SECRET}/$name
                -filter:v scale=-1:460
                -c:a libfdk_aac -b:a 32k  -c:v libx264 -b:v 128k  -f flv rtmp://localhost/hls/$name_128
                -c:a libfdk_aac -b:a 128k -c:v libx264 -b:v 512k  -f flv rtmp://localhost/hls/$name_512;
        }

        application player {
            live on;

            allow publish 127.0.0.1;
            deny publish all;

            pull rtmp://localhost/pub_${PUBLISH_SECRET} live=1;

            wait_key on;
            wait_video on;
        }

        application hls {
            live on;
            allow publish 127.0.0.1;
            deny publish all;

            hls on;
            hls_path /datas/tmp/hls;
            hls_fragment 15s;
            hls_nested on;

            hls_variant _128   BANDWIDTH=160000;
            hls_variant _512   BANDWIDTH=640000;
        }

    }
}
